body{
    position: relative;
}

.left{
    position: absolute;
    left: 0;
    width: 600px;
}

.right{
    position: absolute;
    left: 600px;
    width: 300px;
}

.job_detail{
    width: 300px;
    height: 300px;
}

.jobs{
    width: 600px;
    height: 600px;
}


.changes{
    width: 300px;
    height: 300px;
}

