body{
    padding: 10px;
    position: relative;
}

.left{
    position: absolute;
    left: 0;
    width: 600px;
    margin-left: 10px;
}

.right{
    position: absolute;
    left: 600px;
    width: 300px;
}

.job_detail{
    width: 300px;
    height: 300px;
}

.jobs{
    width: 600px;
    height: 600px;
    border: solid 1px #4e525b;
    border-radius: 3px;
}


.changes{
    width: 350px;
    height: 300px;
    border: solid 1px #4e525b;
    border-bottom: solid 2px #4e525b;
    border-radius: 3px;
    padding: 10px;
}

.load-change{
    border: solid 1px #4e525b;
    border-radius: 3px;
}

.nav-tabs li{
    font-size: 0.4em;
}

.nav-tabs li a{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    padding-bottom: 0;
    font-family: "Microsoft PhagsPa";
    font-size: 1.5em;
}

.start-annotation line{
    stroke: #6fff93;
    stroke-width: 1px;
}

.end-annotation line{
    stroke: #ff6b66;
    stroke-width: 0.1px;
}
